@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(177, 0, 0);
}
footer{
    background-color: rgba(5, 105, 199, 0.91);
}

body{
    font-family: 'nanum gothic',  
    sans-serif;
    font-size: large;
    color: azure;
    background-color: black;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

h1, h2, h3, h4, h5{
    font-family: 'sansita swashed',
    cursive;
    text-align: left;   
}

.navbar-inverse .navbar-brand{
    border: white 1px solid;
    color: rgba(5, 105, 199, 0.918);
    border-radius: 100mm;
    background-color: #ffffff;
}

.navbar-inverse{
    background-color: rgb(48, 48, 48);
}
h1{
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 100mm;
    background-color: rgba(5, 105, 199, 0.918);
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(255, 255, 255);
    border: white 1px solid;
    border-radius: 10mm;
}

